<footer style="margin-top: 30px; text-align: left; font-size: 14px; color: #666;">
    <p>
        Projet gestion contacts -
        <a href="https://github.com/pmourey/Gestion-contacts" target="_blank">Voir sur GitHub</a>
    </p>
</footer>
